// Partial SCSS file containing global styling



// === USE ====================================
@use 'variables' as *;



/* ============================================
   GLOBAL
   ============================================ */

// === MAIN ===============================

html {
   scroll-behavior: smooth;
   background-color: var(--clr-100);
}

body {
   margin: 0;
   font-family: 'Manrope', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: var(--clr-800);
}

svg {
   display: block;

   .stroke {
      &--md {
         fill: none;
         stroke: var(--clr-600);
         stroke-linecap: round;
         stroke-linejoin: round;
         stroke-width: 2.5px;

         transition: stroke var(--trans-standard);
      }
   }
}

#main {
   h1 {
      padding: var(--pad-xxxl) var(--pad-xxl) 0 var(--pad-xxl);
      // negative margin for better alignment
      margin-left: calc(-0.04 * var(--font-xxl))
   }
}

.twoCol {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: start;
   gap: var(--pad-xl);

   &.cards {
      padding: calc(var(--pad-sm) + var(--padRem-sm)) 0;
   }
}

ul, ol {
   &.row {
      display: flex;
      flex-flow: row wrap;
      
      &.md {
         gap: var(--padRem-xxs);
      }
   }
}

.list {
   display: flex;
   flex-flow: column nowrap;

   &.withSeparators {
      li {
         border-bottom: solid var(--border-width) var(--clr-300);

         &:last-child {
            // remove border-bottom of last <li>
            border-bottom: none;
         }
      }

      &.sm {
         li {
            .link {
               &.block {
                  // give block <UnderlinedLink /> extra vertical padding
                  padding: var(--pad-sm) var(--pad-sm) var(--pad-sm) 0;
               }
            }
         }
         
      }
   }

   li {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
   }
}



// === TYPOGRAPHY =========================
h1, h2, h3, h4, p, a {
   overflow-wrap: break-word;
}

h1 {
   color: var(--clr-1000);
   font-size: var(--font-xxl);
   font-weight: 500;
   line-height: 1em;
   text-transform: uppercase;
}

h2 {
   color: var(--clr-1000);
   font-size: var(--font-md);
   font-weight: 400;
   line-height: 1em;
   text-transform: uppercase;
}

h3 {
   color: var(--clr-1000);
   font-size: var(--font-md);
   font-weight: 400;
   line-height: 1em;
}

p {
   color: var(--clr-600);
   font-size: var(--font-md);
   font-weight: 500;
   line-height: 1.55em;

   &.xs {
      font-size: var(--font-xs);
   }

   &.lg {
      font-size: var(--font-lg);
   }
}

em {
   font-style: normal;
   color: var(--clr-1000);

   &.rblue {
      color: var(--clr-rblue);
   }
}

code {
   font-family: 'Courier New', monospace;
}

.inter {
   font-family: 'Inter', sans-serif;
   font-weight: 600;

   &.upDw {
      // negative margin for better up & down arrow alignment
      margin-right: -0.2em;
      margin-left: -0.2em;
   }

   &.pad {
      &--right {
         padding-right: 0.5em;
      }

      &--left {
         padding-left: 0.5em;
      }
   }
}



// === UTILITY ============================
.visuallyHidden {
	position: absolute;
	white-space: nowrap;
	clip: rect(0 0 0 0);

   width: 1px;
	height: 1px;

   padding: 0;
   border: 0;
   margin: 0;

	overflow: hidden;
}