// Partial SCSS file containing global styling



// === USE ====================================
@use 'variables' as *;



/* ============================================
   GLOBAL
   ============================================ */
html {
   background-color: var(--clr-100);
}

body {
   margin: 0;
   font-family: 'Manrope', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}


code {
   font-family: 'Courier New', monospace;
}


svg {
   display: block;

   .stroke {
      &--md {
         fill: none;
         stroke: var(--clr-600);
         stroke-linecap: round;
         stroke-linejoin: round;
         stroke-width: 2.5px;
      }
   }
}