// Partial SCSS file containing variables



/* ============================================
   VARIABLES
   ============================================ */
:root {
   --max-width: 1400px;
   --nav-size: 100px;

   --pad-sm: 12px;

   // === BORDER & OUTLINE ===================
   // border
   --border-width: 1.4px;
   --bradius-xxs: 2px;
   --bradius-xs: 4px;
   --bradius-sm: 6px;
   // outline
   --outline-width: 3px;

   // === TRANSFORMS =========================
   --active-translateY: translateY(3px);

   // === TRANSITIONS ========================
   // transitions
   --trans-standard: var(--transTime-standard) ease;
   // timings
   --transTime-standard: 0.15s;
   --transTime-slowest: 0.35s;
   // timing functions
   --transFunc-enhancedEase: cubic-bezier(.57,-0.01,.22,1.04);
}