// Partial SCSS file containing variables



/* ============================================
   VARIABLES
   ============================================ */
:root {
   --max-width: 1400px;
   --nav-size: 100px;

   --padRem-md: 1rem;

   --pad-sm: 12px;
   --pad-md: 16px;
   --pad-lg: 20px;
   --pad-xl: 24px;
   --pad-xxl: 30px;

   // === BORDER & OUTLINE ===================
   // border
   --border-width: 1.4px;                     // standard border width
   --bradius-xxs: 2px;                        // border radius of <NavBar /> page indicator
   --bradius-xs: 4px;                         
   --bradius-sm: 6px;                         // standard border radius for wrapper borders
   --bradius-xxl: 35px;                       // largest border radius for special corners
   // outline
   --outline-width: 3px;

   --font-xs: 1rem;

   // === TRANSFORMS =========================
   --active-translateY: translateY(3px);

   // === TRANSITIONS ========================
   // transitions
   --trans-standard: var(--transTime-standard) ease;
   // timings
   --transTime-standard: 0.15s;
   --transTime-slowest: 0.35s;
   // timing functions
   --transFunc-enhancedEase: cubic-bezier(.57,-0.01,.22,1.04);
}