@use '../breakpoints' as *;

#budgetty {
    // internal variables
    --_clr-black: #000000; // text color on --_clr-gray background
    --_clr-gray: #CCCCCC;  // background gray, does not change depending on color scheme

    #video {
        padding-bottom: var(--pad-6xl);
    }

    #interface {
        padding-bottom: var(--pad-6xl);

        li {
            background-color: var(--_clr-gray);
        }

        figure {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            gap: var(--pad-xl);

            padding: 20% 0 16% 0;

            & > div:first-of-type {
                width: 70%;
            }

            figcaption {
                color: var(--_clr-black);
                text-align: center;

                padding: 0 var(--pad-lg);
            }
        }
    }

    #images {
        padding-bottom: var(--pad-6xl);
    }
}



// === BREAKPOINTS ============================
@media print {
    #budgetty {
        #interface li {
            // add border as background color will be removed
            border: solid var(--border-width) var(--clr-300);
        }
    }
}



// === A11Y ===================================
@media (forced-colors: active) {
    #budgetty {
        #interface {
            li {
                forced-color-adjust: none;
            }

            figure {
                figcaption {
                    color: CanvasText;
                    background-color: Canvas;
                }
            }
        }
    }
}