#error {
    .section__main{
        align-items: flex-start;
        gap: var(--pad-xxl);
    }
    .errorOutput {
        position: relative;
        word-break: break-word;

        padding: var(--pad-md) var(--pad-xl);
        border: solid var(--border-width) red;
        // remove alignment compensation
        margin-top: 0;

        &::before {
            content: '';
            display: inline-block;
            position: relative;
            // alignment compensation
            top: calc(0.12 * var(--font-md));

            width: var(--font-md);
            height: var(--font-md);

            border: solid var(--border-width) var(--clr-800);
            border-radius: var(--bradius-round);
            margin-right: var(--padRem-sm);
            background-color: red;
        }

        .url {
            color: var(--clr-1000);
        }
    }
}