@use '../breakpoints' as *;

#intro {
    // internal variables
    --_illus-width: 11rem;

    padding-bottom: calc(var(--pad-8xl) - var(--pad-sm));

    .section__main {
        gap: var(--pad-xxl);

        & > p {
            padding-top: calc(var(--pad-4xl) - var(--pad-xxl));
        }
    }

    .illus {
        margin-top: calc(-1 * var(--padRem-lg));

        &__list {
            flex-wrap: nowrap;
            gap: var(--padRem-sm);

            // add spacing below so scrollbar isn't touching it
            padding-bottom: var(--pad-lg);
        }

        &__container {
            // prevent growth
            flex-grow: 1;

            min-width: var(--_illus-width);
            width: var(--_illus-width);
            border: solid var(--border-width) var(--clr-200);
        }

        .stroke {
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
            stroke-width: var(--border-width);

            &.nofill {
                fill: none;
            }

            &.thick {
                stroke-width: var(--border-width-thick);
            }

            &-clr-1000 {
                stroke: var(--clr-1000);
            }

            &-clr-200 {
                stroke: var(--clr-200);
            }

            &-clr-rblue {
                stroke: var(--clr-rblue);
            }
        }

        .fill {
            &-clr-1000 {
                fill: var(--clr-1000);
            }

            &-clr-100 {
                fill: var(--clr-100);
            }
        }

        #pencil {
            animation: pencilClick 5.5s infinite;
        }

        #cursor {
            animation: cursorMove 4s infinite;
        }

        #square {
            animation: cursorFade 4s infinite;
        }

        #circles {
            animation: cursorFade 4s infinite 0.07s;
        }

        #blinker {
            animation: blink 0.9s infinite;
        }
    }
}

#works {
    padding-bottom: var(--pad-6xl);
}



// === ANIMATIONS =============================
@keyframes pencilClick {
    20%   { transform: translateY(0); }
    23%   { transform: translateY(2%); }
    25%   { transform: translateY(1%); }
    27%   { transform: translateY(2%); }
    33%   { transform: translateY(0); }
}

@keyframes cursorMove {
    25%   { transform: translate(0, 0); }
    35%   { transform: translate(23%, -3%); }
    50%   { transform: translate(-15%, 25%); }
    65%   { transform: translate(0, 0); }
}

@keyframes cursorFade {
    0%    { opacity: 1; }
    32%   { opacity: 1; }
    37%   { opacity: 0; }
    60%   { opacity: 0; }
    65%   { opacity: 1; }
    100%  { opacity: 1; }
}

@keyframes blink {
    0%    { opacity: 1; }
    50%   { opacity: 0; }
    100%  { opacity: 1; }
}



// === BREAKPOINTS ============================
@media only screen and (max-width: $breakpoint-tablet) {
    #intro {
        // internal variables
        --_illus-width: 10rem;
    }
}

@media only screen and (max-width: $breakpoint-mobile) {
    #intro {
        // internal variables
        --_illus-width: 8rem;
    }
}

@media print {
    #intro {
        // internal variables
        --_illus-width: 120px;
    }
}



// === A11Y ===================================
@media (forced-colors: active) {
    #intro {
        .illus {
            .stroke {    
                &-clr-1000 {
                    stroke: CanvasText;
                }
    
                &-clr-200 {
                    stroke: GrayText;
                }
    
                &-clr-rblue {
                    stroke: CanvasText;
                }
            }

            .fill {
                &-clr-1000 {
                    fill: CanvasText;
                }
    
                &-clr-100 {
                    fill: Canvas;
                }
            }
        }
    }
}