#info {
    // internal variables
    --_badge-size: 12rem;

    #version10 {
        padding-bottom: var(--pad-6xl);

        .section__main {
            gap: var(--pad-xxxl);
        }
        .versionBadge {
            flex-shrink: 0;
            color: var(--clr-1000);
            font-size: 1.9rem;
            
            width: var(--_badge-size);
            height: var(--_badge-size);
        }
    }

    #a11y {
        padding-bottom: var(--pad-6xl);

        .section__main {
            align-items: flex-start;
            gap: var(--pad-xxl);
        }
    }

    #typefaces {
        padding-bottom: var(--pad-6xl);

        .twoCol {
            row-gap: var(--padRem-xxxl);
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--padRem-sm);
        }

        p {
            &.xl {
                word-break: break-all;
            }

            .link {
                // alignment compensation for when .link.block padding enlarges
                margin-top: calc(-3rem * (var(--targetSize-multiplier) - 1));
            }
        }

        #inter {
            font-family: 'Inter', sans-serif;
        }
    }
}



// === BREAKPOINTS ============================
@media print {
    #info {
        // internal variables
        --_badge-size: 130px;

        #version10 .versionBadge {
            font-size: 22px;
        }
    }
}