#resume {
    #info, #objective, #education, #projects, #skills {
        padding-bottom: var(--pad-6xl);
    }

    #info, #objective, #projects {
        .section__main {
            align-items: flex-start;
            gap: var(--pad-xxl);
        }
    }

    #education {
        .dlList {
            dd {
                display: flex;
                flex-direction: column;
            }
        }
    }

    #projects {
        .section__main {
            gap: var(--pad-4xl);
        }

        .dlList {
            & > div {
                gap: var(--pad-sm);
            }

            dd {
                display: flex;
                flex-direction: column;
                gap: var(--pad-sm);
            }
        }
    }

    #skills {
        .dlList {
            dd ul {
                display: flex;
                flex-flow: row wrap;

                li {
                    // prevent space removal
                    white-space: break-spaces;

                    &::after {
                        content: " - ";
                        color: var(--clr-300);
                    }

                    &:last-child::after {
                        display: none;
                    }
                }
            }
        }
    }
}