#risdsophomore {
    .section {
        padding-bottom: var(--pad-6xl);
        
        &__main {
            display: flex;
            flex-flow: column nowrap;
            gap: var(--pad-xl);

            .separator {
                margin-top: var(--pad-5xl);
            }
        }        
    }
}