#settings {
    .section {
        padding-bottom: var(--pad-6xl);
        
        .section__main {
            gap: var(--pad-xxxl);
        }

        .radioSelectors {
            padding-bottom: var(--pad-lg);
            border-bottom: solid var(--border-width) var(--clr-200);

            &:last-child {
                padding-bottom: 0;
                border: none;
            }
        }
    }
}