.breadcrumbs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;

    ol.row {
        // prevent wrapping to force horzontal overflow
        flex-wrap: nowrap;
        gap: var(--padRem-md);

        font-size: var(--font-xs);
        
        padding: calc(var(--section-pad-vrt) - var(--pad-sm)) 0;
    }

    li {
        a {
            display: flex;
            flex-flow: row nowrap;
            gap: 0.5rem;
            position: relative;

            font-size: inherit;
            color: var(--clr-600);

            padding: var(--pad-sm)
                     var(--padRem-md);
            // negative margin for better alignment
            margin: calc(-0.35 * var(--font-xs)) 0;

            transition: color var(--trans-standard),
                        transform var(--trans-standard);

            &::after {
                // arrow after each breadcrumb (except for last child)
                content: '→';
                position: absolute;
                right: calc(-1 * var(--padRem-md));

                font-family: 'Inter', sans-serif;
                color: var(--clr-600);
            }

            &:hover, &:focus {
                color: var(--clr-1000);

                .stroke--md {
                    stroke: var(--clr-1000);
                }
            }

            &:focus-visible {
                outline: solid var(--outline-width) var(--clr-focus);
                outline-offset: calc(-1 * var(--outline-width));
                border-radius: calc(var(--bradius-xxs) + var(--outline-width));
            }

            &:active {
                transform: var(--active-translateY-sm);
            }

            svg {
                width: 1rem;
            }
        }

        &:first-child {
            a {
                // prevent first left padding from expanding with rem
                padding-left: var(--section-pad-hrz);
            }
        }

        &:last-child {
            a {
                color: var(--clr-800);

                // prevent last right padding from expanding with rem
                padding-right: var(--section-pad-hrz);
    
                .stroke--md {
                    stroke: var(--clr-800);
                }
    
                &:hover, &:focus {
                    color: var(--clr-1000);
    
                    .stroke--md {
                        stroke: var(--clr-1000);
                    }
                }
    
                &::after {
                    // remove arrow on last breadcrumb
                    display: none;
                }
            }
        }
    }

    p.error {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.5rem;
        align-items: center;
        font-size: var(--font-xs);

        padding: var(--section-pad-vrt)
                 var(--padRem-md)
                 var(--section-pad-vrt)
                 var(--section-pad-hrz);
        // negative margin for better alignment
        margin: calc(-0.35 * var(--font-xs)) 0;

        &::before {
            content: '';
            display: block;

            width: var(--font-xs);
            height: var(--font-xs);

            border: solid var(--border-width) var(--clr-800);
            border-radius: var(--bradius-round);
            background-color: red;
        }
    }
}



// === BREAKPOINTS ============================
@media print {
    .breadcrumbs {
        display: none;
    }
}



// === A11Y ===================================
@media (forced-colors: active) {
    .breadcrumbs {
        li {
            a {
                &, &:hover, &:focus, &:active {
                    .stroke--md {
                        stroke: LinkText; 
                    }
                }
            }
            
            &:last-child {
                a {
                    &, &:hover, &:focus, &:active {
                        .stroke--md {
                            stroke: LinkText;
                        }
                    }
                }
            }
        }
    }
}