@use '../breakpoints' as *;

.footer {
    // internal variables
    --_square-size: 6.25rem;

    padding-bottom: var(--pad-xxl);

    .footer {
        &__main {
            display: flex;
            flex-direction: column;
            gap: var(--pad-xxxl);

            color: var(--clr-600);

            padding-top: calc(var(--section-pad-vrt) - var(--pad-sm) - var(--padRem-xs));

            .list.withSeparators.sm {
                // remove bottom compensation
                margin-bottom: 0;
            }
        }
    }

    .info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        gap: var(--pad-md);

        .squares {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            gap: var(--pad-lg);

            .versionBadge {
                font-size: 1rem;
                width: var(--_square-size);
                height: var(--_square-size);
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: var(--pad-xxxs);

            p {
                text-align: right;
            }
        }        

        svg {
            // <GitHubQR /> SVG
            fill: var(--clr-1000);
            width: var(--_square-size);
        }
    }
}



// === BREAKPOINTS ============================
@media only screen and (max-width: $breakpoint-mobile) {
    .footer {
        padding-bottom: var(--pad-lg);
    }
}

@media print {
    .footer {
        display: none;
    }
}



// === A11Y ===================================
@media (forced-colors: active) {
    footer {
        .info {
            svg {
                fill: CanvasText;
            }
        }
    }
}