@use '../breakpoints' as *;

// === NAVBAR =============================
.navbar {
    // internal variables
    --_logo-size: 30px;
    --_link-pad: 26px;                // link padding
    --_link-width: 100%;              // width of the <a> that contain page icons
    --_link-height: calc((var(--_icon-size) + var(--_link-pad)) * var(--targetSize-multiplier)); // height of the <a> that contain page icons
    --_icon-size: min(calc(1.1rem + var(--fontSize-increase)), 33px);  // width & height of <Navbar /> icons
    --_indicator-length: min(calc(10px + 0.5rem), 25px);

    position: fixed;
    top: 0;
    bottom: 0;
    left: calc((100% - min(100%, var(--max-width))) / 2);
    z-index: 1000;
    
    width: var(--nav-size);

    overflow-y: auto;

    header {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        position: relative;

        min-height: 100%;
        
        .logo {
            height: calc(var(--section-pad-vrt) + var(--_logo-size));
            // 20px top padding and moved 1px to the left to appear more centered
            padding: var(--section-pad-vrt)
                     calc((var(--_link-width) - var(--_logo-size)) / 2 + 1px)
                     0
                     calc((var(--_link-width) - var(--_logo-size)) / 2 - 1px);

            &__path {
                fill: var(--clr-rblue);
            }
        }

        nav {
            padding: var(--section-pad-vrt)
                     var(--indicator-gap)
                     calc(var(--section-pad-vrt) + env(safe-area-inset-bottom))
                     var(--pad-xxs);
            margin-top: auto;

            ul {
                display: flex;
                flex-flow: column nowrap;
                gap: var(--pad-xxxs);
                position: relative;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;

                width: var(--_link-width);
                height: var(--_link-height);

                border: solid var(--border-width) var(--clr-200);
                border-radius: var(--bradius-xs);
                
                transition: border-color var(--trans-standard),
                            transform var(--trans-standard);

                &.active, &:hover, &:focus {
                    border-color: var(--clr-600);

                    .stroke--md {
                        // change page icon stroke color
                        stroke: var(--clr-1000);
                    }
                }

                &.active {
                    border-color: var(--clr-1000);
                }

                &:focus-visible {
                    outline: solid var(--outline-width) var(--clr-focus);
                    border-radius: var(--bradius-xxs);
                }

                &:active {
                    transform: var(--active-translateY-md);
                }

                svg {
                    width: var(--_icon-size);
                }
            }

            .magicLine {
                // styling that applies to both #magicLineVrt and #magicLineHrz
                position: absolute;

                border-radius: var(--bradius-round);

                background: var(--clr-rblue);

                // transition on transform change (set through JS)
                transition: transform var(--transTime-slowest-lowMo) var(--transFunc-enhancedEase);
            }

            #magicLineVrt {
                top: 0;
                right: calc(-1 * ((var(--indicator-gap) - var(--indicator-thickness)) / 2 + var(--indicator-thickness)));

                width: var(--indicator-thickness);
                height: var(--_indicator-length);

                margin-top: calc((var(--_link-height) - var(--_indicator-length)) / 2);
            }

            #magicLineHrz {
                // hide horizontal magic line when showing vertical <NavBar /> layout
                display: none;
            }
        }
    }
}



// === BREAKPOINTS ============================
@media (orientation: portrait) {
    .navbar {
        // internal variables
        --_link-width: calc((var(--_icon-size) + 1.4 * var(--_link-pad)) * var(--targetSize-multiplier)); // width of the <a> that contain page icons
        --_link-height: 100%;             // height of the <a> that contain page icons

        // new absolute insets to move <Navbar> to the bottom
        top: unset;
        right: 0;
        bottom: 0;
        left: 0;
        
        width: unset;
        max-width: var(--max-width);
        height: calc(var(--nav-size) + env(safe-area-inset-bottom));

        // center navbar on larger displays
        margin-right: auto;
        margin-left: auto;

        // background color to block all elements below
        background-color: var(--clr-100);
        box-shadow: 0px 0px 17px 3px var(--clr-100);

        // remove y auto overflow and add x overflow
        overflow-x: auto;
        overflow-y: hidden;

        header {
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            position: relative;
    
            min-width: calc(100% - (2 * var(--pad-sm)));
            min-height: unset;
            height: 100%;

            padding-bottom: env(safe-area-inset-bottom);
            
            .logo {
                flex-shrink: 0;
                // 20px top padding and moved 1px to the left to appear more centered
                padding: 0 0 0 var(--section-pad-hrz);
                width: calc((0.94 * var(--_logo-size)) + var(--section-pad-hrz));
                height: 100%;
            }
    
            nav {
                height: 100%;
                padding: var(--indicator-gap) var(--section-pad-hrz) var(--pad-xxs) var(--section-pad-hrz);
                margin-top: 0;
                margin-left: auto;
                
    
                ul {
                    flex-flow: row nowrap;

                    height: 100%;
                }
    
                #magicLineVrt {
                    // hide vertical magic line
                    display: none;
                }
    
                #magicLineHrz {
                    display: block;
                    top: calc(-1 * ((var(--indicator-gap) - var(--indicator-thickness)) / 2 + var(--indicator-thickness)));
                    left: 0;
    
                    width: var(--_indicator-length);
                    height: var(--indicator-thickness);

                    margin-left: calc((var(--_link-width) - var(--_indicator-length)) / 2);
                }
            }
        }
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    .navbar {
        // internal variables
        --_logo-size: 29px;
        --_link-pad: 25px;                // link padding
    }
}

@media only screen and (max-width: $breakpoint-mobile) {
    .navbar {
        // internal variables
        --_logo-size: 27px;
        --_link-pad: 23px;                // link padding
    }
}

@media print {
    .navbar {
        display: none;
    }
}



// === A11Y ===================================
@media (forced-colors: active) {
    .navbar {
        header {
            .logo {
                &__path {
                    fill: CanvasText;
                }
            }

            nav {
                a {
                    &.active, &:hover, &:focus {
                        .stroke--md {
                            stroke: ActiveText;
                        }
                    }
                }

                .magicLine {
                    background-color: CanvasText;
                }
            }
            
        }
    }
}