@use '../breakpoints' as *;

.projectInfo {
    display: flex;
    flex-direction: column;
    gap: var(--pad-4xl);

    padding-top: var(--pad-xl);
    padding-bottom: var(--pad-6xl);
    padding-left: calc(var(--section-side-width) + var(--pad-lg) + var(--section-pad-hrz));

    &__text {
        display: flex;
        flex-direction: column;
        gap: var(--pad-xxl);
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        column-gap: var(--padRem-lg);
        row-gap: var(--padRem-xxxs);
    }

    .desc {
        display: flex;
        flex-direction: column;
        gap: var(--padRem-xxxs);

        // alignment compensation
        margin-top: calc(-1 * var(--padRem-xxs));

        #projectDescTitle {
            // remove alignment compensation
            margin-top: 0;
        }

        #projectDescText {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            gap: var(--pad-xxl);

            padding-bottom: var(--pad-4xl);
            border-bottom: solid var(--border-width) var(--clr-200);
            
            p {
                color: var(--clr-1000);
                font-size: var(--font-md);
            }
            
        }
    }

    .project {
        &__colors {
            gap: calc(var(--padRem-xxs) - 2 * var(--border-width));

            padding-top: var(--pad-xxxs);

            li, div {
                padding: var(--padRem-xs);
                border: solid var(--border-width) var(--clr-200);
            }
        }
    }
}



// === BREAKPOINTS ============================
@media only screen and (max-width: $breakpoint-laptop) {
    .projectInfo {
        padding-left: var(--section-pad-hrz);
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    .projectInfo {
        grid-template-columns: 1fr;

        & > div:first-of-type {
            // <Image /> element
            position: static;
        }

        dl {
            // reset margins
            margin: 0;
        }
    }
}

@media print {
    .projectInfo {
        .project__colors {
            li, div {
                // force background color to show
                -webkit-print-color-adjust:exact !important;
                print-color-adjust:exact !important;
            }
        }
    }
}