#intro {

    .section {
        &__main {
            display: flex;
            flex-flow: column nowrap;
            gap: var(--pad-6xl);

            padding: var(--pad-8xl) 0 calc(var(--pad-8xl) - var(--pad-sm));
        }
    }
}

#works {

    .section {
        &__main {
            display: flex;
            flex-flow: column nowrap;
            gap: var(--pad-6xl);

            padding: var(--pad-8xl) 0;
        }
    }
}