@use '../sass/breakpoints' as *;

#projects {

    #works {
        #workFilter {
            // set same height as <h2> and align them vertically
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: calc((2 * var(--pad-xl) - var(--padRem-5xs)) + var(--font-md));
        }

        .twoCol.cards {
            // remove top padding as #workFilter already has it
            padding-top: var(--pad-xxxs);
        }
    }
    
}



// === BREAKPOINTS ============================
@media only screen and (max-width: $breakpoint-mobile) {
    #projects {
        #works {
            #workFilter {
                height: calc((2 * var(--pad-xxl)) + var(--font-lg));
            }
        }
    }
}