@use '../sass/breakpoints' as *;

.button {
    display: block;

    color: var(--clr-800);
    border: solid var(--border-width) var(--clr-300);
    border-radius: var(--bradius-round);

    transition: color var(--trans-standard),
                border var(--trans-standard),
                transform var(--trans-standard);

    &:hover, &:focus, &:focus-visible {
        color: var(--clr-1000);
        border-color: var(--clr-600);
    }

    &:focus-visible {
        outline: solid var(--outline-width) var(--clr-focus);
        outline-offset: calc(-1 * var(--outline-width));
    }

    &.sm {
        font-size: var(--font-sm);

        padding: var(--pad-xxs) calc(var(--font-sm) - 0.3rem + var(--pad-xxs));

        &:active {
            transform: var(--active-translateY-sm);
        }
    }

    &.rblue {
        font-weight: 500;
        color: var(--clr-0);
        background-color: var(--clr-rblue);

        border-color: var(--clr-rblue);

        transition: color var(--trans-standard),
                    background-color var(--trans-standard),
                    transform var(--trans-standard);

        &:hover, &:active, &:focus-visible {
            background-color: var(--clr-rblue-hover);
        }

        &:focus-visible {
            outline-offset: var(--pad-4xs);
        }

        &:active {
            background-color: var(--clr-rblue-active);
        }
    }
}



// === BREAKPOINTS ============================
@media only screen and (max-width: $breakpoint-mobile) {
    .button {
        &.sm {
            padding: var(--pad-xs) calc(var(--font-sm) - 0.2rem + var(--pad-xs));
        }
    }
}