@use '../sass/breakpoints' as *;

footer {
    // internal variables
    --_square-size: 6.25rem;

    padding-bottom: var(--pad-xxl);

    .footer {
        &__main {
            display: flex;
            flex-direction: column;
            gap: var(--pad-xxxl);

            color: var(--clr-600);
        }
    }

    .info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        gap: var(--pad-md);

        .squares {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            gap: var(--pad-lg);

            .version {
                display: grid;
                grid-template-rows: 0.65fr 0.35fr;
                
                width: var(--_square-size);
                height: var(--_square-size);

                border: solid var(--border-width) var(--clr-200);

                overflow: hidden;

                .number__container {
                    position: relative;
                }

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.number {
                        position: absolute;
                        top: calc(-1 * var(--border-width));
                        right: 0;
                        bottom: calc(-1 * var(--border-width));
                        left: 0;

                        font-size: 1.2rem;
                        font-weight: 500;

                        border: solid var(--border-width) var(--clr-200);
                        border-radius: 50%;

                        &::before, &::after {
                            content: '';
                            position: absolute;
                            top: calc(-1 * var(--border-width));
                            bottom: calc(-1 * var(--border-width));

                            border: solid var(--border-width) var(--clr-200);
                            border-radius: inherit;
                        }

                        &::before {
                            right: -10%;
                            left: -10%;
                        }

                        &::after {
                            right: -35%;
                            left: -35%;
                        }
                    }

                    &.state {
                        text-transform: uppercase;
                        font-size: 1.2rem;
                        font-weight: 900;
                        border-top: solid var(--border-width) var(--clr-200);
                    }
                }
            }

            
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: var(--pad-xxxs);

            p {
                text-align: right;
            }
        }        

        svg {
            // <GitHubQR /> SVG
            fill: var(--clr-1000);
            width: var(--_square-size);
        }
    }
}



// === BREAKPOINTS ============================
@media only screen and (max-width: $breakpoint-mobile) {
    .footer {
        padding-bottom: var(--pad-lg);
    }
}