footer {
    // internal variables
    --_QRcode-size: 6.25rem;

    .section {
        &__main {
            display: flex;
            flex-direction: column;
            gap: var(--pad-xxxl);

            padding-bottom: var(--pad-xxl);
        }
    }

    .info {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: flex-end;
        gap: var(--pad-xl);

        &__text {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: var(--pad-xxxs);

            p {
                text-align: right;
            }

            &__ver {
                color: var(--clr-1000);

                padding: 0 var(--pad-xs);
                border: solid var(--border-width) var(--clr-rblue);
            }
        }        

        svg {
            // <GitHubQR /> SVG
            fill: var(--clr-1000);
            width: var(--_QRcode-size);
        }
    }
}