@use '../sass/breakpoints' as *;

.pageHeading {
    padding: var(--pad-xxxl) var(--pad-xxl) var(--pad-md) var(--pad-xxl);
    // negative margin for better alignment
    margin-left: calc(-0.04 * var(--font-xxl));

    overflow: hidden;

    &__letter {
        display: inline-block;
    }
}



// === BREAKPOINTS ============================
@media only screen and (max-width: $breakpoint-mobile) {
    .pageHeading {
        padding-right: var(--pad-lg);
        padding-left: var(--pad-lg);
    }
}