@use '../sass/breakpoints' as *;

.pageHeading {
    padding: var(--pad-xxxl) var(--section-pad) var(--pad-md) var(--section-pad);
    // negative margin for better alignment
    margin-left: calc(-0.04 * var(--font-xxl));

    overflow: hidden;

    &__letter {
        display: inline-block;
    }
}



// === BREAKPOINTS ============================
@media only screen and (max-width: $breakpoint-mobile) {
}