.scrollContainer {
    // internal variables
    --_scrollShadow-size: 20px;
    --_scrollShadow-gradient: var(--clr-100) 0%, var(--clr-100-trans) 100%;

    display: flex;

    overflow: auto;

    &::before, &::after {
        content: '';
        position: absolute;

        opacity: 1;

        transition: opacity var(--trans-standard);
    }

    &.vrt {
        flex-flow: column nowrap;

        &::before {
            --_translateHide: translateY(calc(-1 * var(--_scrollShadow-size)));

            top: 0;
            right: 0;
            left: 0;

            background: linear-gradient(180deg, var(--_scrollShadow-gradient));
            height: var(--_scrollShadow-size);
        }

        &::after {
            --_translateHide: translateY(var(--_scrollShadow-size));

            right: 0;
            bottom: 0;
            left: 0;

            background: linear-gradient(0deg, var(--_scrollShadow-gradient));
            height: var(--_scrollShadow-size);
        }
    }

    &.hrz {
        flex-flow: row nowrap;

        &::before {
            --_translateHide: translateX(calc(-1 * var(--_scrollShadow-size)));

            top: 0;
            bottom: 0;
            left: 0;

            background: linear-gradient(90deg, var(--_scrollShadow-gradient));
            width: var(--_scrollShadow-size);
        }

        &::after {
            --_translateHide: translateX(var(--_scrollShadow-size));
            
            top: 0;
            right: 0;
            bottom: 0;

            background: linear-gradient(270deg, var(--_scrollShadow-gradient));
            width: var(--_scrollShadow-size);
        }
    }

    &.start::before, &.end::after {
        // hide start scroll shadow
        opacity: 0;

        // move out of the way when hidden
        transform: var(--_translateHide);

        transition: opacity var(--trans-standard),
                    transform 0s var(--transTime-standard);
    }

    .edgeDiv {
        width: 0;
    }
}