@use '../sass/breakpoints' as *;

.section, .footer {
    display: grid;
    grid-template-columns: var(--section-side-width) 1fr;
    align-items: start;
    gap: var(--pad-lg);
    position: relative;

    padding-right: var(--section-pad-hrz);
    padding-left: var(--section-pad-hrz);

    & > .separator {
        position: absolute;
        top: 0;
        right: var(--section-pad-hrz);
        left: var(--section-pad-hrz);
    }

    &__side {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        min-width: 0px;

        // top padding with alignment compensation
        padding-top: calc(var(--section-pad-vrt) - var(--padRem-5xs));
        // avoid overlapping separator
        margin-top: var(--border-width);
    }

    h2 {
     }

    &__main {
        position: relative;
        min-width: 0px;

        padding-top: var(--section-pad-vrt);
        // avoid overlapping separator
        margin-top: var(--border-width);
    }

}



// === BREAKPOINTS ============================
@media only screen and (max-width: $breakpoint-laptop) {
    .section, .footer {
        gap: var(--pad-xxl);

        h2 {
            // make text vertical
            writing-mode: vertical-rl;
            overflow-wrap: normal;
            white-space: nowrap;

            // rotate 180 degress
            transform: rotate(180deg);
            
        }
    }
}