@use '../sass/breakpoints' as *;

.section, .footer {
    display: grid;
    grid-template-columns: var(--section-side-width) 1fr;
    align-items: start;
    gap: var(--pad-lg);
    position: relative;

    padding-right: var(--pad-xxl);
    padding-left: var(--pad-xxl);

    &__side {
        position: sticky;
        top: var(--pad-sm);
        right: 0;
        left: 0;
        min-width: 0px;
    }

    h2 {
        // top padding with alignment compensation
        padding-top: calc(var(--pad-xl) - var(--padRem-5xs));
     }

     &__main {
         position: relative;
         min-width: 0px;
     }

}



// === BREAKPOINTS ============================
@media (orientation: portrait) {
    .section, .footer {
        &__side {
            top: 0;
        }
    }
}

@media only screen and (max-width: $breakpoint-laptop) {
    .section, .footer {
        gap: var(--pad-xxl);

        h2 {
            // make text vertical
            writing-mode: vertical-rl;
            overflow-wrap: normal;
            white-space: nowrap;

            // remove top padding as it is now on the bottom
            padding-top: 0;
            // bottom padding with alignment compensation
            padding-bottom: calc(var(--pad-xl) - var(--padRem-5xs));

            // rotate 180 degress
            transform: rotate(180deg);
            
        }
    }
}

@media only screen and (max-width: $breakpoint-mobile) {
    .section, .footer {
        padding-right: var(--pad-lg);
        padding-left: var(--pad-lg);
    }
}