@use '../../sass/breakpoints' as *;

#budgetty {
    // internal variables
    --_clr-gray: #CCCCCC; // background gray, does not change depending on color scheme

    #video {
        padding-bottom: var(--pad-6xl);
    }

    #interface {
        padding-bottom: var(--pad-6xl);

        .section__main {
            padding-top: var(--section-pad-vrt);
        }

        li {
            background-color: var(--_clr-gray);
        }

        figure {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            gap: var(--pad-xl);

            padding: 20% 0 16% 0;

            & > div:first-of-type {
                width: 70%;
            }

            figcaption {
                color: var(--clr-0);
                text-align: center;

                padding: 0 var(--pad-lg);
            }
        }
    }

    #images {
        padding-bottom: var(--pad-6xl);

        .section__main {
            display: flex;
            flex-flow: column nowrap;
            gap: var(--pad-xl);
        }
    }
}



// === A11Y ===================================
@media (forced-colors: active) {
    #budgetty {
        #interface {
            li {
                forced-color-adjust: none;
            }

            figure {
                figcaption {
                    color: CanvasText;
                    background-color: Canvas;
                }
            }
        }
    }
}