@use '../../sass/breakpoints' as *;

#budgetty {
    #video {
        padding-bottom: var(--pad-6xl);

        .section__main {
            padding-top: var(--pad-xl);
        }
    }

    #interface {
        padding-bottom: var(--pad-6xl);

        .section__main {
            padding-top: var(--pad-xl);
        }

        figure {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            gap: var(--pad-md);

            padding: var(--pad-4xl) var(--pad-xxxl);

            background-color: var(--clr-800);

            figcaption {
                color: var(--clr-0);
                text-align: center;
            }
        }
    }
}