/* ============================================
   APP
   ============================================ */
.App {
    position: relative;
    
    max-width: var(--max-width);

    padding: 0 0 var(--pad-sm) var(--nav-size);
    margin-left: auto;
    margin-right: auto;
}