@use './sass/breakpoints' as *;

/* ============================================
   APP
   ============================================ */
.App {
    position: relative;
    
    max-width: var(--max-width);

    padding-bottom: env(safe-area-inset-bottom);
    padding-left: var(--nav-size);
    margin-left: auto;
    margin-right: auto;
}



// === BREAKPOINTS ============================
@media (orientation: portrait) {
    .App {
        padding-bottom: calc(var(--nav-size) + env(safe-area-inset-bottom));
        padding-left: 0;
    }
}