@use './sass/breakpoints' as *;

/* ============================================
   APP
   ============================================ */
.App {
    position: relative;
    
    max-width: var(--max-width);

    padding-left: var(--nav-size);
    margin-left: auto;
    margin-right: auto;
}



// === BREAKPOINTS ============================
@media (orientation: portrait) {
    .App {
        padding-bottom: var(--nav-size);
        padding-left: 0;
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    
}