// ============================================
// BREAKPOINTS
// ============================================
$breakpoint-laptop: 1200px;
$breakpoint-tablet: 950px;
$breakpoint-mobile: 750px;
$breakpoint-mobile-md: 650px;
$breakpoint-xs: 350px;