// Partial SCSS file containing typeface imports



/* ============================================
   TYPEFACE IMPORTS
   ============================================ */

/* === MANROPE ================================ */
/* manrope-200 - latin */
@font-face {
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 200;
   font-display: swap;
   src: local(''),
        url('/typefaces/Manrope/manrope-v12-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/typefaces/Manrope/manrope-v12-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-300 - latin */
@font-face {
font-family: 'Manrope';
font-style: normal;
font-weight: 300;
font-display: swap;
src: local(''),
      url('/typefaces/Manrope/manrope-v12-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/typefaces/Manrope/manrope-v12-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-regular - latin */
@font-face {
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-display: swap;
src: local(''),
      url('/typefaces/Manrope/manrope-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/typefaces/Manrope/manrope-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-500 - latin */
@font-face {
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-display: swap;
src: local(''),
      url('/typefaces/Manrope/manrope-v12-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/typefaces/Manrope/manrope-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-600 - latin */
@font-face {
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-display: swap;
src: local(''),
      url('/typefaces/Manrope/manrope-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/typefaces/Manrope/manrope-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-700 - latin */
@font-face {
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-display: swap;
src: local(''),
      url('/typefaces/Manrope/manrope-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/typefaces/Manrope/manrope-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-800 - latin */
@font-face {
font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-display: swap;
src: local(''),
      url('/typefaces/Manrope/manrope-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/typefaces/Manrope/manrope-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* === INTER ================================== */
/* inter-100 - latin-ext_latin */
@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 100;
   font-display: swap;
   src: local(''),
        url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-200 - latin-ext_latin */
@font-face {
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-display: swap;
src: local(''),
      url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-300 - latin-ext_latin */
@font-face {
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-display: swap;
src: local(''),
      url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin-ext_latin */
@font-face {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-display: swap;
src: local(''),
      url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-500 - latin-ext_latin */
@font-face {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-display: swap;
src: local(''),
      url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-600 - latin-ext_latin */
@font-face {
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-display: swap;
src: local(''),
      url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin-ext_latin */
@font-face {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-display: swap;
src: local(''),
      url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-800 - latin-ext_latin */
@font-face {
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-display: swap;
src: local(''),
      url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-900 - latin-ext_latin */
@font-face {
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-display: swap;
src: local(''),
      url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/typefaces/Inter/inter-v11-latin-ext_latin_greek-ext-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* === CLASH DISPLAY ========================== */
/* Clash Display Extra Light - 200 */
@font-face {
      font-family: 'Clash Display';
      font-style: normal;
      font-weight: 200;
      font-display: swap;
      src: local(''),
           url('/typefaces/ClashDisplay/ClashDisplay-ExtraLight.woff2') format('woff2'),
           url('/typefaces/ClashDisplay/ClashDisplay-ExtraLight.woff') format('woff');
}

/* Clash Display Light - 300 */
@font-face {
      font-family: 'Clash Display';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: local(''),
           url('/typefaces/ClashDisplay/ClashDisplay-Light.woff2') format('woff2'),
           url('/typefaces/ClashDisplay/ClashDisplay-Light.woff') format('woff');
}

/* Clash Display Regular - 400 */
@font-face {
      font-family: 'Clash Display';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: local(''),
           url('/typefaces/ClashDisplay/ClashDisplay-Regular.woff2') format('woff2'),
           url('/typefaces/ClashDisplay/ClashDisplay-Regular.woff') format('woff');
}

/* Clash Display Medium - 500 */
@font-face {
      font-family: 'Clash Display';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: local(''),
           url('/typefaces/ClashDisplay/ClashDisplay-Medium.woff2') format('woff2'),
           url('/typefaces/ClashDisplay/ClashDisplay-Medium.woff') format('woff');
}

/* Clash Display Semi Bold - 600 */
@font-face {
      font-family: 'Clash Display';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: local(''),
           url('/typefaces/ClashDisplay/ClashDisplay-Semibold.woff2') format('woff2'),
           url('/typefaces/ClashDisplay/ClashDisplay-Semibold.woff') format('woff');
}

/* Clash Display Bold - 700 */
@font-face {
      font-family: 'Clash Display';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: local(''),
           url('/typefaces/ClashDisplay/ClashDisplay-Bold.woff2') format('woff2'),
           url('/typefaces/ClashDisplay/ClashDisplay-Bold.woff') format('woff');
}